@using FlightScanner.Features.Localization

<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>
        <p class="components-reconnect-first-attempt-visible">
            @UiText.T("RejoiningServer")
        </p>
        <p class="components-reconnect-repeated-attempt-visible">
            @UiText.T("RejoinFailedRetrying") <span id="components-seconds-to-next-attempt"></span> @UiText.T("Seconds").
        </p>
        <p class="components-reconnect-failed-visible">
            @UiText.T("FailedToRejoin")<br />@UiText.T("RetryOrReload")
        </p>
        <button id="components-reconnect-button" class="components-reconnect-failed-visible">
            @UiText.T("Retry")
        </button>
        <p class="components-pause-visible">
            @UiText.T("SessionPaused")
        </p>
        <p class="components-resume-failed-visible">
            @UiText.T("FailedToResume")<br />@UiText.T("RetryOrReload")
        </p>
        <button id="components-resume-button" class="components-pause-visible components-resume-failed-visible">
            @UiText.T("Resume")
        </button>
    </div>
</dialog>
